@charset utf-8;

html{
	height: 100%;
	width: 100%;
}

body{
	height: 100%;
    background-color: #f5fffa;
}

#top{
	height: 25%;
	overflow:hidden;
}
.serch{
	box-sizing: border-box;
}
#text-area{
	height: 75%;
	margin: auto;
}
#table{
	margin: 10px 15px;
	box-sizing: border-box;
}
p{
	margin: 0 0 10px 20px;
	font-size: large;
}

@media screen and (min-width: 720px) {
    p {
		font-size: 30px;
    }
}
button{
    border-radius: 30px;
    color: #fff;  
    background-color:#66cdaa; 
    border: none;
    outline: none;
    margin: 8px;
    display: inline-block;
    cursor: pointer;
    font-size: 18px;
}

button:hover{
    opacity: 0.7;
}

img{
    height: 15px;
    width: 15px;
}

.button1{
    position: absolute;
    right: 10px;
    bottom: 10px;
    border-radius: 25px;
    background-color: #ffadad;
    padding: 10px;

}

.img1{
    height: 40px;
    width: 40px;
}


#box{
	position: relative;
	border-radius: 2px;
	border: 2px solid #66cdaa;
    border-radius: 20px;
	background: #ffffff;
    margin: 20px;
}

#box select{
	width: 100%;
	padding-right: 1em;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
}

/*セレクトボックス内下向き矢印*/
#box select::-ms-expand{
    display: none;
}

#box::before{
	position: absolute;
	top: 0.8em;
	right: 0.8em;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #66cdaa;
	pointer-events: none;
}

/*セレクトボックス内文字*/
#box select{
	padding: 8px 38px 8px 8px;
	color: #2e8b57;
}

#btn1{
    position: absolute;
    left: 20px;
}
